*{
	margin: 0px;
	padding: 0px;
}

[class^="s"] img {
	width: 100%;
}

[class^="hit"] img {
	width: 100%;
}

.s1, .s1 img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1180px;
	height: 775px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 218px;
  top: 385px;
  width: 241px;
  height: 19px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 683px;
  top: 385px;
  width: 214px;
  height: 23px;
	animation: fadeInUp 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 403px;
  top: 448px;
  width: 375px;
  height: 29px;
	animation: zoomIn 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s5 {
	position: absolute;
  left: 301px;
  top: 503px;
  width: 143px;
  height: 146px;
	animation: zoomIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 723px;
  top: 505px;
  width: 142px;
  height: 142px;
	animation: zoomIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 1017px;
  top: 64px;
  width: 135px;
  height: 147px;
	animation: stampIn 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1180px;
  height: 775px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 1047px;
  top: 666px;
  width: 133px;
  height: 109px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 910px;
  top: 666px;
  width: 133px;
  height: 109px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 755px;
  top: 666px;
  width: 151px;
  height: 109px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1180px;
	height: 775px;
	display: none;
	z-index: 20;
}